<h1>Accounts</h1>

<p>Count: {{ store.accounts().length }}</p>

<mat-card *ngFor="let account of store.accounts()" (click)="openAccount(account)" class="account-card">

    <mat-card-title>
        Account #{{account.id}}
    </mat-card-title>

    <mat-card-content>
        <p>
            <strong>Balance:</strong>
            {{ account.balance | currency: account.currency: '' }}
            {{ account.currency }}
        </p>
    </mat-card-content>

</mat-card>

@if (store.loading()) {
<mat-spinner />
}